body {
  font-family: Arial, sans-serif;
  background: #e0f7fa;
  text-align: center;
  padding: 50px;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background: #00796b;
  color: white;
  border: none;
  cursor: pointer;
}

#weatherResult {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  overflow-x: auto;
  display: block;
}
th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}
th {
  background-color: #00796b;
  color: white;
}
@media screen and (max-width: 600px) {
  th, td {
    font-size: 12px;
    padding: 6px;
  }
  h1, h2 {
    font-size: 18px;
  }
  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
